body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 30px;
}

/* header */
#body-header {
  height: 65vh;
  opacity: 0.8; /*need to read this*/
  background-image: url("img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 1.2rem;
}
.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

.horizontal-list li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
#sagar
{
  box-shadow: 6px 6px 10px white;
  border-radius: 80%;
  
}
.nav-menu li a {
  transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover {
  color: lightgray;
  text-decoration: underline;
}
.text-center {
  text-align: center;
}

/* Name and Social Container*/
#name-social-container {
  margin-top: 13vh;
}
#my-name {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 6px 6px black;
}
.social-icons li {
  margin: 8px;
}
.social-icons li a i {
  
  padding: 10px;
  font-size: 2.4rem;
  border-radius: 50%;
  margin-top:14px;
}
.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* Section Classes*/
section{
  text-transform: capitalize;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section:nth-child(2n) {
  background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
  background-color: white;
}
.section-heading{
  width: auto;
  padding: 20px 10px 10px;
  margin: 10px auto;
  font-weight: 400;
}
.section-heading span{
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}


/* About Section*/
#about {
  height: auto;
  width: 100%;
  position: relative;
}
#my-image {
  
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -15vh;
}
#my-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 10px 2px lightgrey; /*need to read this*/
}

#description {
  padding: 10px;
  width: 65%;
  text-align: justify; /* need to read this*/
  color: grey;
  line-height: 28px;
  font-size: 1.1rem;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
strong {
  color: #2857a4;
}

/* Skill Section */

.skills-display {
  width: 75%;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-progress {
  width: 11rem;
  height: 2.2rem;
  background-color: lightgrey;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
  margin: 25px;
  overflow: hidden;
}

.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  vertical-align: middle;
}

/* Timeline */

.timeline{
  position: relative;
  width: 75%;
  text-align: justify; /* need to read this*/
  color: grey;
  line-height: 28px;
  
}

.timeline-box{
  position: relative;
  width: 40%;
  margin: 5px;
  padding: 10px;
  left: 5%;
  min-height: 150px;
  font-size: 1rem;
}

.timeline-box:nth-child(2n){
  left: 53%;
}

/* Timeline Boxes */

.timeline-box-header{
  margin-bottom: 15px;
  position: relative;
}

.cn-logo{
  width: 50px;
  height: 50px;
  position: absolute;
}

.odd-container{
  text-align: right;
}
.even-container{
  text-align: left;
}

.odd-container .cn-logo{
  
  left: 0;
  top: 0;
}
.even-container .cn-logo{
  right: 0;
  top: 0;
}

.timeline-box-header h2{
  color: #2857a4;
  margin-bottom: 0;
}

.timeline-box-header div:nth-child(2n+1){
  color: orangered;
  font-weight: bold;
}

.timeline-box-content p{
  text-align: justify; /* need to read this*/
  color: grey;
  line-height: 28px;
  font-size: 1.1rem;
}

/* Timeline Divider */
.timeline-divider{
  position: absolute;
  height: 75%;
  width: 0;
  border: 3px dashed #0096fa6b;
  top: 10%;
  left: 50%;
}

.timeline-traveller{
  position: sticky;
  top: 30%;
  transform: rotate(90deg);
  z-index: 2;
}
.timeline-traveller i{
  color: blue;
}

.timeline-box:nth-child(2n+1)::after{
  content: '';
  position: absolute;
  top: 30%;
  right: -8%;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #ccc;
  z-index: 1;
}

.timeline-box:nth-child(2n)::after{
  content: '';
  position: absolute;
  top: 30%;
  left: -9%;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #ccc;
  z-index: 1;
}





/* Portfolio */
#portfolio-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
  max-width: 300px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-image-container img {
  width: 100%;
  height: 100%;
}

/* Contact Form */

#contact {
  background-color: #0abcf9;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  color: white;
  padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
  color: white;
}

#contact-container {
  display: flex;
  flex-wrap: wrap;
}

#contact-form-container {
  width: 50%;
} 

#contact-form {
  margin-left: 20%;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  font-weight: 550;
  font-size: 1.2rem;
}

#my-details-container p {
  font-size: 0.9rem;
}

.my-details-info-container {
  margin-bottom: 20px;
  font-size: 1rem;
}

.my-details-info-container span {
  margin-left: 0.4rem;
}



#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}

#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 14px 20px 10px;

}

/* New Property*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width:700px){

  /* Header */
  

  /* Work Experience and Education */
 
   .timeline-divider{
     left: 5%;
   }
 
   .timeline-box{
     left: 12% !important;
     width: 80%;
   }
 
   /* .timeline-box:nth-child(2n){
     left: 12%;
   } */
 
   .even-container{
     text-align: right;
   }
 
   .even-container .cn-logo{
     top: 0;
     left: 0;
   }
 
   .timeline-box::after{
     left: -11% !important;
   }
 
   /* .timeline-box:nth-child(2n+1)::after{
     left: -11%;
   }
   .timeline-box:nth-child(2n)::after{
     left: -11%;
   } */
 
   /* Contact Section */
 
   #contact-container{
     flex-direction: column;
   }
 
   #contact-form-container,#my-details-container{
     width: 90% !important;
   }
   #contact-form-container form{
     margin-left: 10%;
     padding: 20px;
   }
   #contact-form button[type="submit"]{
     margin-left: 25%;
   }
 
   #contact .social-icons li a i {
     font-size: 1rem !important;
     margin: 40px 0px 10px; 
     padding: 0px 0px 0px 0px;
   
   }
 
 }

/* Common Margin Classes */

.mb75px {
  margin-bottom: 75px;
}



/*common color classes */

.text-highlight {
  color: #2857a4;
  font-weight: 600;

}



/* setting background-color */

.mb-blue {
  background-color: #2857a4;
}

.mb-orange {
  background-color: #ec4d1c;
}

.mb-teal {
  background-color: #0b8176;
}

.mb-light-purple {
  background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
  height: inherit;
  width: 85%;
}

.eighty-percent {
  height: inherit;
  width: 80%;
}

.fifty-percent {
  height: inherit;
  width: 50%;
}

